<div class="modal-content">
  <div class="modal-header">
    <button type="button" class="close" (click)="close()" >&times;</button>
    <h4 class="modal-title">Add New Collection</h4>
  </div>
  <div class="modal-body">
    <form>
      <div class="col-md-6">
        <div class="form-group">
          <label for="description">Description</label>
          <input type="text" class="form-control" id="description"  name="description" [(ngModel)]="collectionObject.description">
        </div>
        <div class="form-group">
          <label for="type">Type</label>
          <input type="text" class="form-control" id="type" name="type" [(ngModel)]="collectionObject.type">
        </div>

        <button type="submit" class="btn btn-default" (click)="confirm(collectionObject)">Submit</button>
        <button type="button" class="btn btn-default" (click)="close()" >Cancel</button>
      </div>
    </form>
  </div>
  <br>
  <div class="modal-footer">
    <p>  {{title || 'Confirm'}}</p>
    <p>
      {{message || 'Are you sure?'}}
    </p>


    <!--<button type="button" class="btn btn-primary" (click)="confirm()">OK</button>
    <button type="button" class="btn btn-default" (click)="close()" >Cancel</button>-->
  </div>

</div>
